@import url(//db.onlinewebfonts.com/c/aba29c74d9c0c9e0e7f7b612a9e899c7?family=ITC+Benguiat);

@font-face {font-family: "ITC Benguiat";
    src: url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.eot");
    src: url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.svg#ITC Benguiat") format("svg");
}
*{
  margin: 0;
}

body {
  font-family: "ITC Benguiat";
  /*background-color: blue;*/
}
h1{
  color: #f9a825;
}



/*NAV BAR*/
.left-nav-links{
  margin-left: 15%;
}
.right-nav-links{
  margin-right: 15%;
}
#slide-out{
  /*width: 60%;*/
}
#nav-dropdown-divider-header{
  color: #42a5f5;
  margin: 10% 0 0 10%;
}
#side-nav-menu-icon{
  margin-left: 2%;
}
/*END NAV BAR*/


/*HOME PAGE*/
#home-para-banner{
  height: 55vh;
}
#home-soundcloud-div{
  padding: 0;
  margin-right: 2%;
}
#home-movies-btn{
  margin-top: 5%;
}
#home-friendsIntro-div{
  padding: 0;
  margin-left: 2%;
}
#home-friendsIntro-text{
  margin-top: 10%;
  color: #757575;
}
.home-top-para-heading{
  color: #42a5f5;
}
.home-top-para-icon-container{
  color: #f9a825;
  margin: 3% 0 3% 0;
}
#home-quote-header{
  color: #42a5f5;
}
#home-quote-text{
  color: #757575;
}
/*END HOME PAGE*/


/*BIO PAGE*/
#bio-crew-header{
  color: #757575;
}
.bioText{
  font-size: 14px;
  color: #757575;
}
.bioPic{
  width: 30%;
  height: 30%;
  margin-top: 5%;
}
.bio-card-content-container{
  position: relative;
  padding: 0 5% 0 5%;
}
.bio-stats-btn{
  position: absolute;
  margin-top: 3%;
  bottom: 0;
}
.bio-Producer-Name-Header{
  color: #42a5f5;
  margin: 0 0 3% 0;
}
.bio-modal-header{
  color: #f9a825;
}
.bio-modal-stat-col{
  color: #757575;
}
/*END BIO PAGE*/


/*MOVIES PAGE*/
#movies-subheader{
  color: #757575;
  margin: 0;
  padding: 0;
}
#movie-thumbnailPic{
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}
#movie-card-director{
  color: #f9a825;
}
#movie-card-title{
  color: #42a5f5;
}
#movie-card-icon{
  color: #f9a825;
}
.card-ratings{
  color: #757575;
}

/*NG-CLASS attempt class below*/
/*.movie-ratings-red{
  color: red;
}*/

#movie-card-plot{
  font-size: 14px;
}
/*END MOVIES PAGE*/



/*CONTACT PAGE*/
#contact-subheader{
  color: #757575;
  margin: 0;
  padding: 0;
}
#contactHeader{
  color: #f9a825;
}
.contactList{
  color: #757575;
  list-style: none;
}
.contact-links-List{
  list-style: none;
  color: #757575;
}
#contact-links{
  color: #757575;
  font-size: 24px;
}
#contact-links:hover{
  color: #2196F3;
}
#nicholsonGif{
  height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
}
#contact-submit-btn{
  background-color: #2196F3;
}
#contact-form-icon{
  color: #2196F3;
}
/* label input focus color */
.input-field input:focus + label {
  color: #F9A825 !important;
 }
/* label input underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #F9A825 !important;
  box-shadow: 0 1px 0 0 #F9A825 !important
}
/* label textarea focus color */
.input-field textarea:focus + label {
  color: #F9A825 !important;
 }
/* label textarea underline focus color */
.row .input-field textarea:focus {
  border-bottom: 1px solid #F9A825 !important;
  box-shadow: 0 1px 0 0 #F9A825 !important
}
/*END CONTACT PAGE*/




/*FOOTER*/
#footer{
  background-color: #9e9e9e;
  /*background-color: #757575;*/
  margin-top: 0;
  padding-top: 0;
}
.footer-text{
  margin-top: 1%;
  text-align: center;
  color: #757575;
}
