@import url(//db.onlinewebfonts.com/c/aba29c74d9c0c9e0e7f7b612a9e899c7?family=ITC+Benguiat);

@font-face {font-family: "ITC Benguiat";
    src: url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.eot");
    src: url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/aba29c74d9c0c9e0e7f7b612a9e899c7.svg#ITC Benguiat") format("svg");
}
*{
  margin: 0;
}

body {
  font-family: "ITC Benguiat";
  /*background-color: blue;*/
}
h1{
  color: #f9a825;
}


/*NAV BAR*/
.left-nav-links{
  margin-left: 15%;
}
.right-nav-links{
  margin-right: 15%;
}
#slide-out{
  /*width: 60%;*/
}
#nav-dropdown-divider-header{
  color: #29b6f6;
  margin: 10% 0 0 10%;
}
/*END NAV BAR*/


/*HOME PAGE*/
#index-banner{
  height: 50vh;
}
#home-soundcloud-div{
  padding: 0;
  margin-right: 2%;
}
#home-friendsIntro-div{
  padding: 0;
  margin-left: 2%;
}
#home-friendsIntro-text{
  margin-top: 20%;
}
/*END HOME PAGE*/


/*BIO PAGE*/
.container{
  /*width: 90%;*/
}
.bioText{
  font-size: 14px;
}
.bioPic{
  width: 30%;
  height: 30%;
}
.bio-card-content-container{
  padding: 5%;
}
/*END BIO PAGE*/


/*MOVIES PAGE*/
#movies-subheader{
  color: #757575;
  margin: 0;
  padding: 0;
}
#thumbnailPic{
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}
/*END MOVIES PAGE*/



/*CONTACT PAGE*/
.contactList{
  list-style: none;
}
.divLinks{
  list-style: none;
}
#nicholsonGif{
  height: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
}
/*END CONTACT PAGE*/



.footer-text{
  text-align: center;
}
