<div class="container bioContainer" ng-controller="hostFactory">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="page-header">Meet The Team</h1>
      <hr>
      <h6 class='align right grey-text text-darken-1'>How you doin'? Nice to meet ya. Pleased to meet ya.</h6>
    </div>
  </div>
  <div class="col s12 m12 l12">
    <h2 id='bio-crew-header'>The Crew</h2>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card medium z-depth-1 hoverable center modal-trigger"  href='#papModal'>
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/stoneyPap.jpg" alt="" />
            <h3 class='bio-Producer-Name-Header'>Pappy</h3>
            <p class='bioText'>The brains, heart & soul behind this operation. Known for his innate ability to sleep at any time, he can also befriend even the most dangerous and vicious of household cats.</p>
        </div>
        <!-- Modal Trigger Btn -->
        <a class="modal-trigger waves-effect waves-light btn yellow darken-2 bio-stats-btn" href="#papModal">Pap Stats</a>
      </div>
      <!-- Modal Structure -->
      <div id="papModal" class="modal modal-fixed-footer">
        <div class="modal-content">

          <div class="row">
            <h4 class='center bio-modal-header'>Pappy Malcolm Movie Stats</h4>
          </div>

          <div class="row bio-modal-stat-col">
            <div class="col s5 m5 l5">
              <img class='responsive-img' src='images/stoneyPap.jpg'/>
            </div>
            <div class="col s7 m7 l7">
              <p class='bioStatCategory'>Appearances: <span class="bioStats">{{hostFactory[0].appearances}}<span></p>
              <br>
              <p class='bioStatCategory'>Trivia Wins: <span class='bioStats'>{{hostFactory[0].triviaWins}}</span></p>
              <br>
              <p class='bioStatCategory'>Episodes Hosted: <span class='bioStats'>{{hostFactory[0].episodesHosted}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes's: <span class='bioStats'>{{hostFactory[0].yesReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>No's: <span class='bioStats'>{{hostFactory[0].noReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes Rec'd Percentage: <span class='bioStats'>{{hostFactory[0].yesReceivedPercentage}}</span></p>
              <br><hr><br>
              <p class='bioStatCategory'>Yes's Given: <span class='bioStats'>{{hostFactory[0].yesGiven}}</span></p>
              <br>
              <p class='bioStatCategory'>No's Given: <span class='bioStats'>{{hostFactory[0].noGiven}}</span></p>
              <br><br>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Noice!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card medium z-depth-1 hoverable center modal-trigger" href='#stevieModal'>
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/latinoHeat.jpg" alt="" />
          <h3 class='bio-Producer-Name-Header'>Stevie</h3>
          <p class='bioText'>Stevie is our story-teller always quick with an animated scene reinactment. Known for his incredible memory for film quotes. "It's your joke, Stevie, go ahead, finish it."</p>
        </div>
        <!-- Modal Trigger Btn -->
        <a class="modal-trigger waves-effect waves-light btn yellow darken-2 bio-stats-btn" href="#stevieModal">Stevie Stats</a>
      </div>
      <!-- Modal Structure -->
      <div id="stevieModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4 class='center bio-modal-header'>Stevie "Latino Heat" Putman Stats</h4>

          <div class="row bio-modal-stat-col">
            <div class="col s5 m5 l5">
              <img class='responsive-img' src='images/latinoHeat.jpg' />
            </div>
            <div class="col s7 m7 l7">
              <p class='bioStatCategory'>Appearances: <span class="bioStats">{{hostFactory[1].appearances}}<span></p>
              <br>
              <p class='bioStatCategory'>Trivia Wins: <span class='bioStats'>{{hostFactory[1].triviaWins}}</span></p>
              <br>
              <p class='bioStatCategory'>Episodes Hosted: <span class='bioStats'>{{hostFactory[1].episodesHosted}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes's: <span class='bioStats'>{{hostFactory[1].yesReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>No's: <span class='bioStats'>{{hostFactory[1].noReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes Rec'd Percentage: <span class='bioStats'>{{hostFactory[1].yesReceivedPercentage}}</span></p>
              <br><hr><br>
              <p class='bioStatCategory'>Yes's Given: <span class='bioStats'>{{hostFactory[1].yesGiven}}</span></p>
              <br>
              <p class='bioStatCategory'>No's Given: <span class='bioStats'>{{hostFactory[1].noGiven}}</span></p>
              <br><br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Noice!</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card medium z-depth-1 hoverable center modal-trigger" href='#moneyModal'>
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/Air-Mikey.jpg" alt="" />
          <h3 class='bio-Producer-Name-Header'>$Money</h3>
          <p class='bioText'>Mikey you are so money and don't even know it.</p>
        </div>
        <br><br>
        <!-- Modal Trigger Number Btn -->
        <a class="modal-trigger waves-effect waves-light btn yellow darken-2 bio-stats-btn" href="#moneyModal">$Money Stats</a>
      </div>
      <!-- Modal Structure -->
      <div id="moneyModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4 class='center bio-modal-header'>Money Mike Toler Stats</h4>

          <div class="row bio-modal-stat-col">
            <div class="col s5 m5 l5">
              <img class='responsive-img' src='images/Air-Mikey.jpg' />
            </div>
            <div class="col s7 m7 l7">
              <p class='bioStatCategory'>Appearances: <span class="bioStats">{{hostFactory[2].appearances}}<span></p>
              <br>
              <p class='bioStatCategory'>Trivia Wins: <span class='bioStats'>{{hostFactory[2].triviaWins}}</span></p>
              <br>
              <p class='bioStatCategory'>Episodes Hosted: <span class='bioStats'>{{hostFactory[2].episodesHosted}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes's: <span class='bioStats'>{{hostFactory[2].yesReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>No's: <span class='bioStats'>{{hostFactory[2].noReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes Rec'd Percentage: <span class='bioStats'>{{hostFactory[2].yesReceivedPercentage}}</span></p>
              <br><hr><br>
              <p class='bioStatCategory'>Yes's Given: <span class='bioStats'>{{hostFactory[2].yesGiven}}</span></p>
              <br>
              <p class='bioStatCategory'>No's Given: <span class='bioStats'>{{hostFactory[2].noGiven}}</span></p>
              <br><br>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Noice!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card medium z-depth-1 hoverable center modal-trigger" href='#vinceModal'>
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/Vints2.jpg" alt="" />
          <h3 class='bio-Producer-Name-Header'>Vints</h3>
          <p class='bioText'>Vince, or the intern, loves to do anything outdoors. If he isn't bouldering in one of Colorado's amazing climbing areas, he's probably hiking to the summit of one of his favorite spots. Whiskey from the bottle & on to his next adventure.</p>
        </div>
        <!-- Modal Trigger Btn -->
        <a class="modal-trigger waves-effect waves-light btn yellow darken-2 bio-stats-btn" href="#vinceModal">Vince Stats</a>
      </div>
      <!-- Modal Structure -->
      <div id="vinceModal" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4 class='center bio-modal-header'>Vince Vahala Stats</h4>

          <div class="row bio-modal-stat-col">
            <div class="col s5 m5 l5">
              <img class='responsive-img' src='images/Vints2.jpg' />
            </div>
            <div class="col s7 m7 l7">
              <p class='bioStatCategory'>Appearances: <span class="bioStats">{{hostFactory[3].appearances}}<span></p>
              <br>
              <p class='bioStatCategory'>Trivia Wins: <span class='bioStats'>{{hostFactory[3].triviaWins}}</span></p>
              <br>
              <p class='bioStatCategory'>Episodes Hosted: <span class='bioStats'>{{hostFactory[3].episodesHosted}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes's: <span class='bioStats'>{{hostFactory[3].yesReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>No's: <span class='bioStats'>{{hostFactory[3].noReceived}}</span></p>
              <br>
              <p class='bioStatCategory'>Yes Rec'd Percentage: <span class='bioStats'>{{hostFactory[3].yesReceivedPercentage}}</span></p>
              <br><hr><br>
              <p class='bioStatCategory'>Yes's Given: <span class='bioStats'>{{hostFactory[3].yesGiven}}</span></p>
              <br>
              <p class='bioStatCategory'>No's Given: <span class='bioStats'>{{hostFactory[3].noGiven}}</span></p>
              <br><br>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Noice!</a>
        </div>
      </div>
    </div>
  </div>

</div>
