<div class='navFixer'></div>

<div class="container bioContainer">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="page-header">Meet The Team</h1>
      <hr>
      <h6 class='align right grey-text text-darken-1'>How you doin'? Nice to meet ya. Pleased to meet ya.</h6>
    </div>
  </div>
  <div class="col s12 m12 l12">
    <h2 class="page-header">The Crew</h2>
    <hr>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="card medium z-depth-1 hoverable center">
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/stoneyPap.jpg" alt="" />
            <h3>Pappy</h3>
            <p class='bioText'>The brains, heart & soul behind this operation. Known for his innate ability to sleep at any time, he can also befriend even the most dangerous and vicious of household cats.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card medium z-depth-1 hoverable center">
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/latinoHeat.jpg" alt="" />
          <h3>Stevie</h3>
          <p class='bioText'>Stevie is our story-teller always quick with an animated scene reinactment. Known for his incredible memory for film quotes. "It's your joke, Stevie, go ahead, finish it."</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col s12 m12 l6">
      <div class="card medium z-depth-1 hoverable center">
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/Air-Mikey.jpg" alt="" />
          <h3><span class="glyphicon glyphicon-usd"></span>Money</h3>
          <p class='bioText'>Mikey you are so money and don't even know it.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="card medium z-depth-1 hoverable center">
        <div class='bio-card-content-container'>
          <img class='circle responsive-img bioPic' src="images/vints2.jpg" alt="" />
          <h3>Vints</h3>
          <p class='bioText'>Vince, or the intern, loves to do anything outdoors. If he isn't bouldering in one of Colorado's amazing climbing areas, he's probably hiking to the summit of one of his favorite spots. Drinking whiskey from the bottle and on to his next adventure.</p>
        </div>
      </div>
    </div>
  </div>
</div>
