<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 id="movies-header">Spoiled! Collections<h1>
      <h5 class='align right' id='movies-subheader'>Browse our collections... </h5>
    </div>
  </div>

  <hr><br>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Spielberg Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317098432&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Stanley Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317098108&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Super Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317097321&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>80's Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317096238&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>James Cameron Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317095650&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Ridley Scott Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317095006&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>1967 Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/315007888%3Fsecret_token%3Ds-VXBlw&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Classic Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/315006549&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>How the West was Spoiled!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/311541030&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>French Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/310350854&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Batman Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/309117553&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Star Wars Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/309117152&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Season Greetings Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308743227&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Cloverfield Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308457894&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Gamer Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308457454&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>GOT Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308457036&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>TV Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308456840&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Animated Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308456721&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Spooky Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308455795&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Guest Appearance Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/308060916&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>New Movie Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/303531338&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m6 l4 hoverable">
      <h5 class='center collectionsTitle'>Full Length Spoilers!</h5>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/303530455&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">

    </div>
    <div class="col s10 offset-s1 m6 l4 hoverable">

    </div>
  </div>

</div>
