<div class='navFixer'></div>

<div class="container contactContainer">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">What we have here...
        <small>is a failure to <em>communicate</em></small>
      </h1>
      <p>We know we suck. Our Dad's have been telling us so for years. Stumbling through intros, choking on pronounciations, and just flat-out dishing incorrect knowledge, we will undoubtedly offend you somehow. We love feedback though.. and we love to hear our fans hate on us as well as praise us (HA! ...we would need fans first). </p>
    </div>
  </div>

  <hr>
    <div class="row">
      <div class="col-md-6">
        <h3 id='contactHeader'>Contact Us:</h3>
          <ul>
            <li class='contactList '><span class="glyphicon glyphicon-envelope"></span> Email: <em>podcastspoilers@gmail.com</em></li>
            <li class='contactList'><span class="glyphicon glyphicon-send"></span> Twitter: <em>@spoilerspdcst</em></li>
            <li class='contactList'><span class="glyphicon glyphicon-send"></span> Tweet Pap: <em>@pappymalcolm</em></li>
            <li class='contactList'><span class="glyphicon glyphicon-send"></span> Tweet Money: <em>@mikeytoler</em></li>
          </ul>
        </div>
      <div class="col-md-6">
        <h3 id='contactHeader'>Check Us Out At:</h3>
          <ul>
            <li class='divLinks'><a id='iTunesLink' target='blank' href='https://itunes.apple.com/us/podcast/spoilers!/id1099500074?mt=2'><span class="glyphicon glyphicon-music"></span> iTunes</a></li>
            <li class='divLinks'><a id='soundcloudLink' target='blank' href='https://soundcloud.com/spoilers-105018977/'><span class="glyphicon glyphicon-cloud-download"></span> Soundcloud</a></li>
            <li class='divLinks'><a id='redditLink' target='blank' href='https://www.reddit.com/user/podcastspoilers'><span class="glyphicon glyphicon-share"></span> Reddit</a></li>
          </ul>
        </div>
    </div>

  <hr>
    <div class='row'>
      <div class='col-md-4'>
        <a class="twitter-timeline" data-width="auto" data-height="88%" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/spoilerspdcst">Tweets by spoilerspdcst</a>ver<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <p>
        <a href="https://twitter.com/spoilerspdcst" class="twitter-follow-button" data-show-count="false">Follow @spoilerspdcst</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a href="https://twitter.com/intent/tweet?screen_name=spoilerspdcst" class="twitter-mention-button" data-show-count="false">Tweet to @spoilerspdcst</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
      </div>
      <div class='col-md-4'>
        <img id='nicholsonGif' src='/images/nicholson.gif'>
      </div>
      <div class='col-md-4'>
        <iframe width="auto" height="auto" align='middle' src="https://www.youtube.com/embed/SU-2oTtHHY4" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe width="auto" height="auto" src="https://www.youtube.com/embed/Eevqct9ubvc" frameborder="0" allowfullscreen></iframe> -->
        <p>Spoilers Theme Song Done by The Rutabega's Josh Hensley</p>
      </div>
    </div>
</div>
