<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center yellow-text text-darken-3">this is spoilers..</h1>
      <div class="row center">
        <h6 class="header col s12 light grey-text text-darken-1">Let us ruin a movie for you. Hosted by Pappy, Money, Stevie and the intern Vints.</h6>
      </div>
      <div class="row center">
        <a ui-sref="movies" id="download-button" class="btn-large waves-effect waves-light red accent-2">Spoiled Movies</a>
      </div>

    </div>
  </div>
  <div class="parallax"><img src="images/parallax/Imax.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/Spoilers_Logo.jpeg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/parallax/Pulp-Fiction1.gif" alt="Unsplashed background img 3"></div>
</div>
