<div id="home-para-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center" id='home-header'>this is spoilers..</h1>
      <div class="row center">
        <h5 class="header col s12 hide-on-small-only" id='home-subheader'>Let us ruin a movie for you.<br> Hosted by Pappy, Money, Stevie and the intern Vints.</h5>
        <h6 class="header col s12 hide-on-large-only hide-on-med-only" id='home-subheader'>Let us ruin a movie for you.<br> Hosted by Pappy, Money, Stevie and the intern Vints.</h6>
      </div>
      <div class="row center">
        <a ui-sref="movies" id="home-movies-btn" class="btn-large waves-effect waves-light blue lighten-1">Spoiled Movies</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/parallax/Imax.jpg" id="home-top-para-img" alt="At the Movies"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6 l6" id="home-soundcloud-div">
        <div class="icon-block">
          <h2 class="center home-top-para-icon-container"><i class="material-icons medium home-top-para-icon">headset</i></h2>
          <h5 class="center home-top-para-heading">Listen Here!</h5>
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/203011078&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true&show_playcount=false"></iframe>
        </div>
      </div>

      <div class="col s12 m5 l5" id='home-friendsIntro-div'>
        <div class="icon-block">
          <h2 class="center home-top-para-icon-container"><i class="material-icons medium home-top-para-icon">info</i></h2>
          <h5 class="center home-top-para-heading">Friends Who Love Movies</h5>
          <p class="light center" id='home-friendsIntro-text'>Good, bad, or ugly, we discuss the plot, rate the movie (pasteurized or spoiled) and end each show with a trivia game. Our “Movie Review!” pods are a continuous game, where the winner of last week’s show gets to host a full length episode on the movie of their choice. Our minor episodes feature one-off criticisms of new movies and other media. WARNING – this podcast does not care about “spoiler alerts” and the show will unapologetically ruin movies for you. With that being said – sit back, relax, and let us ruin a film for you. This is Spoilers!</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="hide-on-med-and-up">
  <img class='small-home-logo' src="/images/Spoilers_Logo.jpeg" alt="Spoilers Logo"/>
</div>
<div class="parallax-container valign-wrapper hide-on-small-only">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/parallax-logo.jpeg" alt="Spoilers Logo"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4 id='home-quote-header'>Movie Quote of the Day</h4>
        <p class="center light" id='home-quote-text'>
          <em>"Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing."</em></p>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/parallax/Pulp-Fiction1.gif" alt="Cinemagraph Gif"></div>
</div>
