<div class="container moviesContainer">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 id="movies-header">Spoiled! Movies<h1>
      <h5 class='align right' id='movies-subheader'>If you like it, we'll ruin it</h5>
    </div>
  </div>

  <hr>
  <br>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <h6 class='col s12 m12 l12'>Have we spoiled it? </h6>
        <div class="input-field col s12 m8 l6">
          <i class="material-icons prefix">search</i>
          <input ng-model='searchBox' id="autocomplete-input" type="text" class="autocomplete">
          <label for="autocomplete-input">Movie Search...</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col s12 m6 l4" ng-repeat='movie in movieCollection | filter:searchBox'>
      <div class="card sticky-action hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id='thumbnailPic' src="{{movie.Poster}}" alt="Poster N/A">
        </div>
        <div class="card-content">
          <span class="card-title activator" id='movie-card-icon'><i class="material-icons right">subject</i></span>
          <p><a href='' class='activator'>{{movie.Title}}</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title" id='movie-card-title'>{{movie.Title}}<i class="material-icons right">close</i></span>
          <p id='movie-card-director'>Director: {{movie.Director}}</p>
          <p class='left card-ratings'>IMDb Rating: {{movie.imdbRating}}</p>
          <p class='right card-ratings'>Metascore: {{movie.Metascore}}</p>
          <br><br>
          <p id='movie-card-plot'>Plot: {{movie.Plot}}</p>
        </div>
        <!-- <iframe class='center'width="90%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/280317714&amp;color=ff5500&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe> -->
      </div>
    </div>
  </div>

</div>
