<div class="container">

  <h1 class='center'>Welcome to Spoilers!</h1>
  <h2 class='center oscarHeader hide-on-small-only'>89th Academy Awards <em>Oscar-Pick-Em</em></h2>
  <h5 class='center oscarHeader hide-on-med-and-up'>89th Academy Awards <em>Oscar-Pick-Em</em></h5>

  <h6 class='center oscar_subhead'>We Act like we know movies. We don't. But for the last 89 years we have played a game where each host has picked their own winner from each Academy Award category. <br><br><span id='oscarRules'>The game goes:</span> the player with the most points gets to pick a penalty movie for the player with the least amount of points. The loser must host this penalty movie on a future epsiode of Spoilers! podcast.</h6>
  <br>
    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309117731&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  <br><br>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Pappy_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Pappy Malcolm<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Pappy Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "Manchester by the Sea"</li><br>
            <li>"PRODUCTION DESIGN": "La La Land"</li><br>
            <li>"ADAPTED SCREENPLAY": "Moonlight"</li><br>
            <li>"ORIGINAL SONG": "City of Stars"</li><br>
            <li>"VISUAL EFFECTS": "Jungle book"</li><br>
            <li>"ORIGINAL SCORE": "La La Land"</li><br>
            <li>"SOUND MIXING": "La La Land"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "Star Treck Beyond"</li><br>
            <li>"SOUND EDITING": "La La Land"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "A man Called Ove"</li><br>
            <li>"LIVE ACTION SHORT FILM": "Sing"</li><br>
            <li>"FILM EDITING": "La La Land"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "Extremis"</li><br>
            <li>"DOCUMENTARY FEATURE": "O.J Made in America"</li><br>
            <li>"COSTUME DESIGN": "La La Land"</li><br>
            <li>"CINEMATOGRAPHY": "La La Land"</li><br>
            <li>"ANIMATED FEATURE FILM": "Kubo and the Two Strings"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Mahershala Ali, Moonlight"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Viola Davis, Fences"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "Emma Stone La La Land"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Casey Affleck, Manchester by the Sea"</li><br>
            <li>"DIRECTING": "La La"</li><br>
            <li>"BEST PICTURE": "La La Land"</li><br>
          </ul>

        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Vints_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Vints (intern)<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Vints Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "The Lobster"</li><br>
            <li>"PRODUCTION DESIGN": "La La Land"</li><br>
            <li>"ADAPTED SCREENPLAY": "Moonlight"</li><br>
            <li>"ORIGINAL SONG": "Audition (The Fools Who Dream), La La Land"</li><br>
            <li>"VISUAL EFFECTS": "Doctor Strange"</li><br>
            <li>"ORIGINAL SCORE": "La La Land"</li><br>
            <li>"SOUND MIXING": "Hacksaw Ridge"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "A Man Called Ove"</li><br>
            <li>"SOUND EDITING": "La La Land"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "The Salesman"</li><br>
            <li>"LIVE ACTION SHORT FILM": "Sing"</li><br>
            <li>"FILM EDITING": "La La Land"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "The White Helmets"</li><br>
            <li>"DOCUMENTARY FEATURE": "O.J.: Made in America"</li><br>
            <li>"COSTUME DESIGN": "La La Land"</li><br>
            <li>"CINEMATOGRAPHY": "Moonlight"</li><br>
            <li>"ANIMATED FEATURE FILM": "Zootopia"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Michael Shannon"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Naomie Harris, Moonlight"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "Emma Stone, La La Land"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Casey Affleck, Manchester by the Sea"</li><br>
            <li>"DIRECTING": "Moonlight"</li><br>
            <li>"BEST PICTURE": "Moonlight"</li><br>
          </ul>

        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Stevie_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Stevie Putman<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Stevie Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "La La Land"</li><br>
            <li>"PRODUCTION DESIGN": "La La Land"</li><br>
            <li>"ADAPTED SCREENPLAY": "Moonlight"</li><br>
            <li>"ORIGINAL SONG": "City of Stars"</li><br>
            <li>"VISUAL EFFECTS": "Rogue one"</li><br>
            <li>"ORIGINAL SCORE": "La La Land"</li><br>
            <li>"SOUND MIXING": "Hacksaw ridge"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "Suicide squad"</li><br>
            <li>"SOUND EDITING": "La La land"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "The Salesman"</li><br>
            <li>"LIVE ACTION SHORT FILM": "Silent nights"</li><br>
            <li>"FILM EDITING": "Arrival"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "Joes violin"</li><br>
            <li>"DOCUMENTARY FEATURE": "OJ made in America"</li><br>
            <li>"COSTUME DESIGN": "La La Land"</li><br>
            <li>"CINEMATOGRAPHY": "La La land"</li><br>
            <li>"ANIMATED FEATURE FILM": "Kubo and the two strings"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Mahershala Ali, Moonlight"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Viola Davis, Fences"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "Emma stone, La La land"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Denzel Washington, Fences"</li><br>
            <li>"DIRECTING": "La La land"</li><br>
            <li>"BEST PICTURE": "La La Land"</li><br>
          </ul>
        </div>
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Air-Mikey.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Money Mike<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Money Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "La La Land"</li><br>
            <li>"PRODUCTION DESIGN": "La La Land"</li><br>
            <li>"ADAPTED SCREENPLAY": "Fences"</li><br>
            <li>"ORIGINAL SONG": "Audition - La La Land"</li><br>
            <li>"VISUAL EFFECTS": "Rogue One"</li><br>
            <li>"ORIGINAL SCORE": "La La Land"</li><br>
            <li>"SOUND MIXING": "Rogue One"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "SUICIDE SQUAD"</li><br>
            <li>"SOUND EDITING": "Hacksaw Ridge"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "The Salesman"</li><br>
            <li>"LIVE ACTION SHORT FILM": "Timecode"</li><br>
            <li>"FILM EDITING": "Moonlight"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "4.1 Miles"</li><br>
            <li>"DOCUMENTARY FEATURE": "OJ Made in America"</li><br>
            <li>"COSTUME DESIGN": "Jackie"</li><br>
            <li>"CINEMATOGRAPHY": "La La Land"</li><br>
            <li>"ANIMATED FEATURE FILM": "Kubo and the Two Strings"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Mahershala Ali, Moonlight"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Viola Davis, Fences"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "Emma Stone, La La Land"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Casey Affleck, Manchester by the Sea"</li><br>
            <li>"DIRECTING": "Moonlight",</li><br>
            <li>"BEST PICTURE": "Moonlight"</li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Jordan_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Jordan Schlong<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Jordan Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "La La Land"</li><br>
            <li>"PRODUCTION DESIGN": "Fantastic Beasts"</li><br>
            <li>"ADAPTED SCREENPLAY": "Fences"</li><br>
            <li>"ORIGINAL SONG": "City of Stars"</li><br>
            <li>"VISUAL EFFECTS": "Doctor Strange"</li><br>
            <li>"ORIGINAL SCORE": "La La Land"</li><br>
            <li>"SOUND MIXING": "Hacksaw Ridge"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "Suicide Squad"</li><br>
            <li>"SOUND EDITING": "La La Land"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "Land of Mine"</li><br>
            <li>"LIVE ACTION SHORT FILM": "Ennemis Interieurs"</li><br>
            <li>"FILM EDITING": "Hell or HIgh Water"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "The White Helmets"</li><br>
            <li>"DOCUMENTARY FEATURE": "OJ: Made in Papmerica"</li><br>
            <li>"COSTUME DESIGN": "Jackie"</li><br>
            <li>"CINEMATOGRAPHY": "Arrival"</li><br>
            <li>"ANIMATED FEATURE FILM": "Moana"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Mahershala Ali, Moonlight"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Viola Davis, Fences"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "Ruth Negga"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Denzel Washington, Fences"</li><br>
            <li>"DIRECTING": "Manchester by teh Sea"</li><br>
            <li>"BEST PICTURE": "La La Land"</li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Milkman.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Carter Milkman<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Carter Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li>"ANIMATED SHORT FILM": "Piper"</li><br>
            <li>"ORIGINAL SCREENPLAY": "Manchester by the Sea"</li><br>
            <li>"PRODUCTION DESIGN": "La La Land"</li><br>
            <li>"ADAPTED SCREENPLAY": "Moonlight"</li><br>
            <li>"ORIGINAL SONG": "City of Stars"</li><br>
            <li>"VISUAL EFFECTS": "the jungle book"</li><br>
            <li>"ORIGINAL SCORE": "lala land by a mile"</li><br>
            <li>"SOUND MIXING": "La La Land"</li><br>
            <li>"MAKEUP AND HAIRSTYLING": "Star Treck Beyond"</li><br>
            <li>"SOUND EDITING": "Hacksaw Ridge"</li><br>
            <li>"FOREIGN LANGUAGE FILM": "toni erdmann"</li><br>
            <li>"LIVE ACTION SHORT FILM": "ennemis interierurs"</li><br>
            <li>"FILM EDITING": "lala land"</li><br>
            <li>"DOCUMENTARY SHORT SUBJECT": "extremis"</li><br>
            <li>"DOCUMENTARY FEATURE": "OJ made in merica"</li><br>
            <li>"COSTUME DESIGN": "lala land"</li><br>
            <li>"CINEMATOGRAPHY": "lala land"</li><br>
            <li>"ANIMATED FEATURE FILM": "zootopia"</li><br>
            <li>"ACTOR IN A SUPPORTING ROLE": "Mahershala Ali, Moonlight"</li><br>
            <li>"ACTRESS IN A SUPPORTING ROLE": "Viola Davis, Fences"</li><br>
            <li>"ACTRESS IN A LEADING ROLE": "emma stone"</li><br>
            <li>"ACTOR IN A LEADING ROLE": "Casey Affleck, Manchester by the Sea"</li><br>
            <li>"DIRECTING": "lala land"</li><br>
            <li>"BEST PICTURE": "lala land"</li><br>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
