<div class="container oscarPickEmContainer">

  <h1 class='center'>Welcome to Spoilers!</h1>
  <h2 class='center oscarHeader hide-on-small-only'>89th Academy Awards <em>Oscar-Pick-Em</em></h2>
  <h5 class='center oscarHeader hide-on-med-and-up'>89th Academy Awards <em>Oscar-Pick-Em</em></h5>

  <h6 class='center oscar_subhead'>We Act like we know movies. We don't. But for the last 89 years we have played a game where each host has picked their own winner from each Academy Award category. <br><br><span id='oscarRules'>The game goes:</span> the player with the most points gets to pick a penalty movie for the player with the least amount of points. The loser must host this penalty movie on a future epsiode of Spoilers! podcast.</h6>
  <br>
    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309117731&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  <br><br>
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Pappy_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Pappy Malcolm<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Pappy Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "City of Stars"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "Jungle book"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "Star Treck Beyond"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "A man Called Ove"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "Sing"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "Extremis"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "O.J Made in America"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "Kubo and the Two Strings"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Mahershala Ali, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Viola Davis, Fences"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "Emma Stone La La Land"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Casey Affleck, Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "La La"</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "La La Land"</li><br>
          </ul>

        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Vints_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Vints (intern)<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Vints Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "The Lobster"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "Audition (The Fools Who Dream), La La Land"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "Doctor Strange"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "Hacksaw Ridge"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "A Man Called Ove"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "The Salesman"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "Sing"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "The White Helmets"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "O.J:</span> Made in America"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "Zootopia"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Michael Shannon"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Naomie Harris, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "Emma Stone, La La Land"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Casey Affleck, Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "Moonlight"</li><br>
          </ul>

        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Stevie_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Stevie Putman<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Stevie Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "City of Stars"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "Rogue one"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "Hacksaw ridge"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "Suicide squad"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "La La land"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "The Salesman"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "Silent nights"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "Arrival"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "Joes violin"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "OJ made in America"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "La La land"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "Kubo and the two strings"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Mahershala Ali, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Viola Davis, Fences"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "Emma stone, La La land"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Denzel Washington, Fences"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "La La land"</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "La La Land"</li><br>
          </ul>
        </div>
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Air-Mikey.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Money Mike<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Money Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Fences"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "Audition - La La Land"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "Rogue One"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "Rogue One"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "SUICIDE SQUAD"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "Hacksaw Ridge"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "The Salesman"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "Timecode"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "4.1 Miles"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "OJ Made in America"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "Jackie"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "Kubo and the Two Strings"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Mahershala Ali, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Viola Davis, Fences"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "Emma Stone, La La Land"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Casey Affleck, Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "Moonlight",</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "Moonlight"</li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/Jordan_Oscar.jpg">
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Jordan Schlong<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Jordan Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "Fantastic Beasts"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Fences"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "City of Stars"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "Doctor Strange"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "Hacksaw Ridge"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "Suicide Squad"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "Land of Mine"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "Ennemis Interieurs"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "Hell or HIgh Water"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "The White Helmets"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "O:</span> Made in Papmerica"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "Jackie"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "Arrival"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "Moana"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Mahershala Ali, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Viola Davis, Fences"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "Ruth Negga"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Denzel Washington, Fences"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "Manchester by teh Sea"</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "La La Land"</li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable oscarWinnerCard">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id='oscarWinnerImage' src="images/Milkman.jpg">
          <h5 id='oscarWinnerText'><span>2017 Oscar Pickem Winner</h5></span>
        </div>
        <div class="card-content">
          <span class="card-title oscarCardTitle activator">Carter Milkman<i class="material-icons right">movie</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title oscarCardTitle">Carter Oscar Picks<i class="material-icons right">close</i></span>
          <br>
          <ul>
            <li><span class='OscarCategory'>ANIMATED SHORT FILM:</span> "Piper"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCREENPLAY:</span> "Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>PRODUCTION DESIGN:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>ADAPTED SCREENPLAY:</span> "Moonlight"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SONG:</span> "City of Stars"</li><br>
            <li><span class='OscarCategory'>VISUAL EFFECTS:</span> "the jungle book"</li><br>
            <li><span class='OscarCategory'>ORIGINAL SCORE:</span> "lala land by a mile"</li><br>
            <li><span class='OscarCategory'>SOUND MIXING:</span> "La La Land"</li><br>
            <li><span class='OscarCategory'>MAKEUP AND HAIRSTYLING:</span> "Star Treck Beyond"</li><br>
            <li><span class='OscarCategory'>SOUND EDITING:</span> "Hacksaw Ridge"</li><br>
            <li><span class='OscarCategory'>FOREIGN LANGUAGE FILM:</span> "toni erdmann"</li><br>
            <li><span class='OscarCategory'>LIVE ACTION SHORT FILM:</span> "ennemis interierurs"</li><br>
            <li><span class='OscarCategory'>FILM EDITING:</span> "lala land"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY SHORT SUBJECT:</span> "extremis"</li><br>
            <li><span class='OscarCategory'>DOCUMENTARY FEATURE:</span> "OJ made in merica"</li><br>
            <li><span class='OscarCategory'>COSTUME DESIGN:</span> "lala land"</li><br>
            <li><span class='OscarCategory'>CINEMATOGRAPHY:</span> "lala land"</li><br>
            <li><span class='OscarCategory'>ANIMATED FEATURE FILM:</span> "zootopia"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A SUPPORTING ROLE:</span> "Mahershala Ali, Moonlight"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A SUPPORTING ROLE:</span> "Viola Davis, Fences"</li><br>
            <li><span class='OscarCategory'>ACTRESS IN A LEADING ROLE:</span> "emma stone"</li><br>
            <li><span class='OscarCategory'>ACTOR IN A LEADING ROLE:</span> "Casey Affleck, Manchester by the Sea"</li><br>
            <li><span class='OscarCategory'>DIRECTING:</span> "lala land"</li><br>
            <li><span class='OscarCategory'>BEST PICTURE:</span> "lala land"</li><br>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
