<h1 class='center'>Spoiled, Preserved, and just plain Rotten</h1>
<h4 class='center'>Spoilers! Statastical Hall of Fame</h4>
<h6 class='center'>You've just found the development testing grounds easter egg. Con-grat-u-fucking-lations!</h6>

<br><br>

<ul ng-controller="hostFactory">
  <!-- <li class='center' ng-repeat='host in hostFactory'>{{host.name}}</li> -->
</ul>

<br>

<div id="host_Overview_Stats" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

<div id="hosting_pie" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

<div id="movie_Rating" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>



<br><br><br><br>
